{% extends '::base.html.twig' %}

{% block body %}
    <video id="example_video_1" class="video-js vjs-default-skin"
           controls preload="auto" width="640" height="264"
        <source src="{{ path }}" type='video/mp4' />
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/learningcore/videoJS/video-js.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/learningcore/videoJS/video.js') }}"></script>
{% endblock %}